{% extends "master.html" %}
{% block content %}
  {% include "navlist.html" %}
  <main>
    <header>
      <h1>{{item.name}}</h2>
    </header>
    <article>
      <figure>
        <!-- check to see if item has an image. If not, display "no image" icon. -->
        {% if item.image=="" %}
          {% set image="no_image.png" %}
        {% else %}
          {% set image=item.image %}
        {% endif %}
        <img src="{{ url_for('uploaded_file', filename=image) }}" alt="{{item.name}}" width="200">
      </figure>
      <p>
        {{item.description}}
      </p>
      <div id="price">Price: ${{item.price/100}}</div>
      <!-- check if quantities are low. Display not if low or sold-out -->
      {% if item.num_avail > 5 %}
        <div class="inStock">In Stock!</div>
      {% elif item.num_avail > 0 %}
        <div class="limitedStock">Limited stock!</div>
      {% else %}
        <div class="soldOut">Sold Out :(</div>
      {% endif %}
    </article>
    {% if loggedIn %}
      <div id="admin">
        <a href="{{ url_for('editItem', item_id = item.id) }}">Edit Item</a>
        <a href="{{ url_for('deleteItem', item_id = item.id) }}">Delete Item</a>
      </div>
    {% endif %}
  </main>
{% endblock %}
