{% extends "master.html" %}
{% block content %}
  {% include "navlist.html" %}
  <main class="col-md-10">
    <header>
      <h1>{{item.name}}</h2>
    </header>
    <article class="item">
      <figure>
        <!-- check to see if item has an image. If not, display "no image" icon. -->
        {% if item.image=="" %}
          {% set image="no_image.png" %}
        {% else %}
          {% set image=item.image %}
        {% endif %}
        <img src="{{ url_for('uploaded_file', filename=image) }}" alt="{{item.name}}" width="400">
      </figure>
      <p id="description">
        {{item.description}}
      </p>
      <p>
        <span id="price">Price: ${{item.price/100}}</span>
      </p>
      <p>
        <!-- check if quantities are low. Display not if low or sold-out -->
        {% if item.num_avail > 5 %}
          <span class="stock btn-success">In Stock!</span>
        {% elif item.num_avail > 0 %}
          <span class="stock btn-warning">Limited stock!</span>
        {% else %}
          <span class="stock btn-danger">Sold Out :(</span>
        {% endif %}
      </p>
    </article>
    {% if 'username' in session %}
      <div id="item-admin">
        <a class="button" href="{{ url_for('editItem', item_id = item.id) }}">Edit Item</a>
        <a class="button" href="{{ url_for('deleteItem', item_id = item.id) }}">Delete Item</a>
      </div>
    {% endif %}
  </main>
{% endblock %}
