html, body{
  height: 100%;
}

#wrapper{
  min-height: 100%;
}

a:hover {
  text-decoration: none;
}

/* Button styles */
a.button {
  margin-top: 2em;
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
a.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
a.button:active {
	position:relative;
	top:1px;
}

#loginLink {
  	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  	box-shadow:inset 0px 1px 0px 0px #caefab;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
  	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
  	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
  	background-color:#77d42a;
  	text-shadow:0px 1px 0px #aade7c;
}

#loginLink:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
/* end button styles */

/* for top bar of site */
#banner{
  background-color: black;
  padding: 3em 0 3em 3em;
  margin-bottom: 3em;
}
#banner h1{
  margin: 0;
}
#banner h1 a{
  color: #CC0000;
}
/* end top bar */

/* flash messages */
.flash{
  background-color: yellow;
  margin-top: -3em;
  padding: 1em;
  font-size: 1.3em;
}

.flash ul{
  list-style: none;
}
/* end flash message styles */


#maincontent{
  overflow: auto;
  padding-bottom: 6em;
}

footer {
  clear: both;
  background: black;
  color: white;
  padding: 1em;
  margin-top: -3em;
  height: 3em;
  position: relative;
}

nav ul{
  list-style: none;
  padding: 0;
  font-size: 1.5em;
}

/* style item previews on main page and catalog page */
article.item-preview{
  padding: 10px;
}

a article.item-preview{
  color: black;
}

article.item-preview:hover{
  background-color: #E6F5FF;
}

article.item-preview .item-details h3{
  margin-top: 0;
}
/* end item preview styles */

/* item page styles */
.item{
  margin-top: 3em;
  font-size: 1.5em;
}

.item #description{
  margin-top: 2em;
}

.item #price{
  padding: 5px;
  border: solid 1px red;
}

.item .stock{
  padding: 5px;
}

#item-admin .button{
  margin-right: 15px;
}
/* end item page */

#deletepage .confirmation{
  margin-top: 3em;
  font-size: 2em;
  padding: 1em;
  border: 1px solid red;
  border-radius: 25px;
}

/* styles for add item and edit item forms */
.item-form{
  font-size: 1.2em;
}

.item-form ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-form li{
  padding: 12px;
}

.item-form label{
  width: 150px;
  float: left;
  margin-top: 3px;
}

.item-form input:focus{
  padding: 5px;
}
.item-form input{
  transition: padding .25s
}
/* end add/edit item form styles */

#loginPage{
  font-size: 1.5em;
  text-align: center;
}
